<launch>
  <arg name="host" />
  <arg name="port" />
  <arg name="database" />
  <arg name="joint_states_topic" />
  <arg name="map_frame_id" />
  <arg name="network_states_transmit_topic" />
  <arg name="network_states_receive_topic" />

  <node name="joint_states_logger" pkg="influxdb_store" type="joint_states_logger.py"
        output="screen">
    <remap from="~input" to="$(arg joint_states_topic)" /> 
    <rosparam subst_value="true">
      host: $(arg host)
      port: $(arg port)
      database: $(arg database)
    </rosparam>
  </node>

  <node name="map_transform_logger" pkg="influxdb_store" type="map_transform_logger.py"
        output="screen">
    <rosparam subst_value="true">
      host: $(arg host)
      port: $(arg port)
      database: $(arg database)
      map_frame_id: $(arg map_frame_id)
      update_rate: 0.5
    </rosparam>
  </node>

  <node name="network_states_logger" pkg="influxdb_store" type="network_states_logger.py"
        output="screen">
    <remap from="~input/transmit" to="$(arg network_states_transmit_topic)" /> 
    <remap from="~input/receive" to="$(arg network_states_receive_topic)" /> 
    <rosparam subst_value="true">
      host: $(arg host)
      port: $(arg port)
      database: $(arg database)
    </rosparam>
  </node>

</launch>
